* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.header {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 12px;
  background-color:#2196ff  /*#f0f8ff/*#f1f1f1*/;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  border-radius: 2px;
  color: white;
}
.abc{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 2px;
  background-color:  #9ccfbf/* #ebfcff/*#aeff8b /*#808080*/;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius:10px;
 }
.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
}
.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}
.img{
  background-image: url(../image/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  height: 700px;
 }
 .option{
  display: block;
  -webkit-appearance: none;
  color: #FFF;
  margin-left: 150px;
  margin-right: 250px;
  padding: 50px;
  padding-left: 100px;
  padding-top: 130px;
}
.hedding{
  margin-left: 250px;
  border-bottom: 5px solid orange;
  border-radius: 10px;
  margin-right: 250px;
}
.border{
  padding-top: 50px;
  padding-left: 40px;
  padding-bottom: 50px;
  margin:15px;
  /*border: 10px solid pink;
  /*border-image: -webkit-linear-gradient(120deg,red,yellow) 20 stretch;*/
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
}
.label{
  font-size: 23px;
  color: white;
} 

.input-box{
    height: 50px;
    border-color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
   margin-top: 10px;
    margin-right: 150px;
    margin-left: 60px;
    border-radius: 2px;
}
.input-box:focus{
  border-width: 8px;
  border-color: yellow;
}
.submit{
  background-color: black;
  border-width: 5px;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 150px;
  border-color: #fff730;
  font-size: 15px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 100px;
}
.button{ 
  background-color: black;
  border-width: 5px;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 150px;
  margin-top: 25px;
  margin-left: 80px;
  border-color: #fff730;
  font-size: 15px;
  font-weight: bold;
}
.b{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
}
.error{
  margin-left: 60px;
  color: red;
  font-weight: bold;
}