* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.header { 
  margin-top: 5px; 
  margin-left: 5px;
  margin-right: 5px;
  padding: 12px;
  background-color:#2196ff  /*#f0f8ff/*#f1f1f1*/;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  border-radius: 2px;
  color: white;
}
.abc{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 2px;
  background-color:  #9ccfbf/* #ebfcff/*#aeff8b /*#808080*/;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  width: 190px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius:10px;
 }
.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
}
.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}
.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}